p {
  color: hsl(269, 80%, 12%);
  margin-bottom: 5px;
}

.form-control {
  border-color: #212529;
}

.text_color{
  color: #111E47;
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Kaushan Script', cursive;
}

.text_color_1{
  color: #6C6B3A;
  font-size: 15px;
}

.fizzbizz{
  font-family: 'Press Start 2P', cursive;
}

.input-group-addon{
  border-color: #2b3553
}

.form-control {
  height: calc(2.25rem + 7.6px);
  font-size: 14px;
  background-color: transparent;
  color:#000;
}

.form-control:focus {
  color: white;
  font-size: 15px;
  background-color: #5E3082;
}

.input-group-addon {
  padding-left: 12px;
  padding-right: 16px;
  background: transparent;
}

.vertical-center .well {
  min-height:82vh;
}
.well {
  background:rgba(0,0,0,0.6);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.well a {
  font-size: 1.2em;
  float: right;
}

.well h1{
  margin-top: 10px;  
}

.btn-danger {
  font-size: 12px;
  padding: 10px 12px;
}

.messages li {
  color:black;
  background: #F0E68C;
}

.vertical-center {
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
}
.vertical-center .container-fluid {
  max-width: 620px;
  flex-grow:1
}
h1 {
  margin: 24px 0;
}

.list-group-item{
  font-size: 1.2rem;
}

.messages p {
  margin: 6px 0;
}
.mymessages {
  text-align: right;
  color: #2E6D88;
  font-style: italic;
}
ul.messages.list-group {
  max-height: 50vh;
  overflow-y: auto;
}
.typing {
  font-style: italic;
  color: white;
}
.msg-delivered {
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5em;
  color: #2F99F5;
}
.msg-read {
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5em;
  color: #2AC151;
}

.message-png {
  display: block;
  margin: auto;
}

.othermessages{
  text-align: left;
}

#enable {
  float: left;
}