.btn-primary {
  background: #e14eca;
  background-image: -webkit-linear-gradient(to bottom left, #101A47, #04081A, #101A47);
  background-image: -o-linear-gradient(to bottom left, #101A47, #04081A, #101A47);
  background-image: -moz-linear-gradient(to bottom left, #101A47, #04081A, #101A47);
  background-image: linear-gradient(to bottom left, #101A47, #04081A, #101A47);
  background-size: 210% 210%;
  background-position: top right;
  background-color: #e14eca;
  transition: all 0.15s ease;
  box-shadow: none;
  color: #ffffff;
}

.form-control {
  border-color: #212529;
}

.text_color{
  color: #111E47;
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Kaushan Script', cursive;
}

.text_color_1{
  color: #6C6B3A;
  font-size: 15px;
}

.fizzbizz{
  font-family: 'Press Start 2P', cursive;
}

.input-group-addon{
  border-color: #2b3553
}

.form-control {
  height: calc(2.25rem + 5.6px);
  font-size: 14px;
  background-color: transparent;
  color:#000;
}

.form-control:focus {
  color: white;
  font-size: 15px;
  background-color: #5E3082;
}

.well {
  background: #F0E68C;
}

.input-group-addon {
  padding-left: 12px;
  padding-right: 16px;
  background: transparent;
}

